body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

section, img {
    margin: 0;
    padding: 0;
}

.homepage-image {
    display: block;
    width: 10%; /* or any size that suits your layout */
    height: auto;
    margin: 0 auto; /* Removes margin and centers the image */
}

.new-post-link {
    /* Your CSS styles here */
    display: inline-block;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
