body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.homepage-image {
    transform: scale(0.5); /* Scales the image to 50% of its original size */
    transform-origin: center;
    margin: 0 auto;
    padding: 0 auto;
}