<!-- templates/edit_post.html -->
<html>
<head>
    <!-- Head elements like title, CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<form method="post">
    {{ form.hidden_tag() }}
    <label for="title">Title</label>
    {{ form.title(id='title') }}
    {% for error in form.title.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <label for="content">Content</label>
    {{ form.content(id='content') }}
    {% for error in form.content.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {{ form.submit() }}
</form>
</html>