<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>BaldPanda</title>
</head>
<body>
    <header>
        <h1>BaldPanda Blog</h1>
        <a href="{{ url_for('create_post') }}" class="new-post-link"> Create New Post </a>
    </header>
    <section>
        
        <!-- Blog posts will go here -->
        {% for post in posts %}
        <div>
            <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <!-- Other post details -->
        </div>
        {% endfor %}
        <img src="{{ url_for('static', filename='images/profile_image.png') }}" alt="Bald Panda Image" class="homepage-image">
    </section>
    <footer>
        <p>Bald Panda Blog</p>
    </footer>
</body>
</html>