<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>BaldPanda</title>
</head>
<body>
    <header>
        <h1>BaldPanda Blog</h1>
        <a href="{{ url_for('blog.create_post') }}" class="new-post-link"> Create New Post </a>
        <a href="{{ url_for('blog.ask_running_coach') }}" class="new-post-link">Running Coach</a>
    </header>
    <section>
        
        <!-- Blog posts will go here -->
        {% for category, posts in posts_by_category.items() %}
            <h2>{{ category }}</h2>
            {% for post in posts %}
                <div class="post">
                    <h3><a href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a></h3>
                </div>
            {% endfor %}
        {% endfor %}
        <img src="{{ url_for('static', filename='images/profile_image.png') }}" alt="Bald Panda Image" class="homepage-image">
    </section>
    <footer>
        <p>Bald Panda Blog</p>
    </footer>
</body>
</html>