<!-- templates/post.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- Head elements like title, CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content | markdown }}</p>
    <!-- Delete button -->
    <form action="{{ url_for('blog.delete_post', post_id=post.id) }}" method="post">
        <input type="submit" value="Delete" onclick="return confirmDelete();" class="new-post-link">
    </form>
    <a href="{{ url_for('blog.home') }}" class="new-post-link">Back to Home</a>
    <a href="{{ url_for('blog.edit_post', post_id=post.id) }}" class="new-post-link">Edit this post</a>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>